*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.tooling/
/.idea/
/.refcache
/.venv/
__pycache__/
/.vscode/
/lib
/node_modules/
/versioned/
internal-notes/scripts/*.log
Gemfile.lock
archive.json
draft-dsmullen-ppd-taxonomy.xml
package-lock.json
report.xml
!requirements.txt
